body, html {
  width: 100%;
  height: auto;
  box-sizing: border-box; }

.main-container {
  width: 700px;
  height: auto;
  min-height: 660px;
  margin: 0 auto;
  padding: 85px 37px 55px 43px;
  background-color: #082e3c;
  font-family: Arial; }

.header {
  width: 100%;
  height: 300px;
  background: url("../img/header.png"); }

.contents {
  position: relative;
  width: 620px;
  min-height: 340px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden; }

.footer {
  position: absolute;
  width: 100%;
  height: 55px;
  background-color: #082e3c; }

@media all and (max-width: 540px) {
  body, html {
    margin: 0 !important; }

  .main-container {
    max-width: 400px !important;
    margin: 0 !important;
    padding: 0;
    background: none; }

  .header {
    max-width: 400px !important;
    margin: 0 !important; }

  .contents {
    max-width: 400px !important; }

  .content-wrapper {
    max-width: 360px !important;
    margin: 0 auto !important; }

  .heading {
    margin-top: 20px; }

  .paragraph {
    max-width: 350px !important;
    height: auto !important;
    overflow: visible;
    text-align: justify; }
    .paragraph p {
      width: 350px !important; }
    .paragraph a {
      width: 100%;
      top: 83%;
      left: 55% !important; }

  .content {
    max-width: 350px !important; }

  .right-side-bar {
    display: none; }

  .comment-button {
    width: 33% !important;
    height: 49px !important;
    margin: 0 2px 0 0 !important; }

  .comment-add-text {
    margin: 0 2px 0 0 !important;
    width: 64% !important;
    height: 49px !important; }
    .comment-add-text #comment-textarea {
      width: 90% !important;
      height: 49px !important;
      margin: 0 2px 0 0 !important; }

  .comment-container {
    max-width: 320px !important; }
    .comment-container .comment-holder p {
      width: 100% !important;
      max-width: 280px !important; } }
.triangle {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 0;
  border-color: #ea6060 transparent transparent transparent; }
  .triangle p {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -95px 0 57px 14px;
    font-size: 23px;
    color: #ffffff;
    font-weight: 400;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg); }

.content-wrapper {
  position: relative;
  width: 500px;
  height: 100%;
  margin: 40px 52px 0 69px; }
  .content-wrapper .heading h1 {
    margin: 0 0 0 -1px;
    font-size: 24px;
    font-weight: 400;
    color: #475055; }
  .content-wrapper .paragraph {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 499px;
    height: 105px;
    margin: 29px 0 0 0; }
    .content-wrapper .paragraph p {
      width: 485px;
      margin: 0;
      word-wrap: break-word;
      font-size: 15px;
      font-weight: 400;
      color: #475055; }
      .content-wrapper .paragraph p span {
        display: none; }
    .content-wrapper .paragraph a {
      color: #ea6060;
      text-decoration: none;
      cursor: pointer;
      cursor: hand; }
  .content-wrapper .comments {
    display: inline-table;
    width: 100%;
    height: auto;
    margin: 29px 0 0 0; }
    .content-wrapper .comments .comment-button :hover {
      font-weight: 600; }
    .content-wrapper .comments .comment-button {
      display: inline-block;
      position: relative;
      width: 33.5%;
      height: 49px;
      margin: 0 5px 0 0;
      border: 2px solid #56ccc8;
      cursor: pointer;
      cursor: hand; }
      .content-wrapper .comments .comment-button p {
        margin: 0;
        color: #4bc7c7;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .content-wrapper .comments .comment-add-text {
      display: inline-block;
      width: 58%;
      height: 49px;
      margin: 0 5px 0 0; }
      .content-wrapper .comments .comment-add-text textarea {
        width: 90%;
        height: 49px;
        border: 2px solid #56ccc8;
        resize: none;
        text-align: center; }
    .content-wrapper .comments .send-button :hover {
      font-weight: 600; }
    .content-wrapper .comments .send-button {
      position: relative;
      display: inline-block;
      width: 33.5%;
      height: 49px;
      margin: 0 5px 0 0;
      background: #56ccc8;
      cursor: pointer;
      cursor: hand; }
      .content-wrapper .comments .send-button p {
        margin: 0;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .content-wrapper .comments .alert-container {
      display: inline-block;
      vertical-align: top;
      width: 52.2%;
      height: 49px;
      text-align: center;
      padding: 0;
      margin: 0; }
      .content-wrapper .comments .alert-container .alert-first {
        display: none;
        margin-top: 10px;
        font-size: 125%;
        color: #ff0000; }
      .content-wrapper .comments .alert-container .alert-second {
        display: none;
        margin-top: 10px;
        font-size: 125%;
        color: #ff0000; }
  .content-wrapper .comment-container {
    width: 100%;
    min-height: 40px; }
    .content-wrapper .comment-container .comment-holder {
      display: inline-table;
      margin: 2px 0 5px 0; }
      .content-wrapper .comment-container .comment-holder p {
        display: table-cell;
        width: 100%;
        max-width: 450px;
        padding: 5px;
        border: solid 1px #4bc7c7;
        word-wrap: break-word; }
      .content-wrapper .comment-container .comment-holder span {
        display: table-cell;
        float: right;
        margin-left: 10px;
        padding: 5px 10px;
        color: #ffffff;
        background-color: #ba1437;
        cursor: pointer;
        cursor: hand; }

.social {
  width: 100%;
  margin: 0 132px 31px 6px; }

.right-side-bar {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 32px 0 0 0;
  background-color: #4bc7c7;
  cursor: pointer;
  cursor: hand; }
  .right-side-bar .side-bar {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .right-side-bar .side-bar .sprite-article-icon {
      width: 15px;
      height: 20px;
      background-position: -6px -5px;
      vertical-align: middle; }

.bottom-bar {
  display: inline-table;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style-type: none;
  cursor: pointer;
  cursor: hand; }
  .bottom-bar .bottom-bar-item {
    display: table-cell; }

.sprite {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/spritesheet.png");
  background-repeat: no-repeat; }

.sprite-comments-icon {
  width: 16px;
  height: 23px;
  background-position: -29px -2px; }

.sprite-share-icon {
  width: 19px;
  height: 24px;
  background-position: -29px -31px; }

.sprite-views-icon {
  width: 23px;
  height: 17px;
  background-position: -55px -5px; }

/*# sourceMappingURL=main.css.map */
