.triangle {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 0;
  border-color: #ea6060 transparent transparent transparent;
  p {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -95px 0 57px 14px;
    font-size: 23px;
    color: #ffffff;
    font-weight: 400;
    @include rotatediag;
  }
}
.content-wrapper {
  position: relative;
  width: 500px;
  height: 100%;
  margin: 40px 52px 0 69px;
  .heading {
    h1 {
      margin: 0 0 0 -1px;
      font-size: 24px;
      font-weight: 400;
      color: #475055;
    }
  }

  .paragraph {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden; //firefox ;/
    width: 499px;
    height: 105px;
    margin: 29px 0 0 0;
    p {
      width: 485px;
      margin: 0;
      word-wrap: break-word;
      font-size: 15px;
      font-weight: 400;
      color: #475055;
    }
    a {
      position: absolute;
      top: 81%;
      left: 53%;
      padding: 0 130px 0 4px;
      z-index: 100;
      background-color: #ffffff;
      color: #ea6060;
      text-decoration: none;
      cursor: pointer;
      cursor: hand;
    }
  }
  .comments {
    display: inline-table;
    width: 100%;
    height: auto;
    margin: 29px 0 0 0;
    .comment-button :hover {
      font-weight: 600;
    }
    .comment-button {
      display: inline-block;
      position: relative;
      width: 166px;
      height: 49px;
      margin: 0 20px 0 0;
      border: 2px solid #56ccc8;
      cursor: pointer;
      cursor: hand;
      p {
        margin: 0;
        color: #4bc7c7;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        @include centerr;
      }
    }
    .comment-add-text {
      position: relative;
      display: inline-block;
      width: 166px;
      height: 49px;
      margin: 0 20px 0 0;
      textarea {
        width: 166px;
        height: 49px;
        border: 2px solid #56ccc8;
        resize: none;
        text-align: center;
      }
    }
    .send-button :hover{
      font-weight: 600;
    }
    .send-button {
      position: relative;
      display: inline-block;
      width: 49px;
      height: 49px;
      background: #56ccc8;
      cursor: pointer;
      cursor: hand;
      p {
        margin: 0;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        @include centerr;
      }

    }
  }
  .comment-container {
    width: 100%;
    min-height: 40px;
    .comment-holder {
      display: inline-table;
      margin: 2px 0 5px 0;
      p {
        display: table-cell;
        width: 100%;
        max-width: 450px;
        padding: 5px;
        border: solid 1px #4bc7c7;
        word-wrap: break-word;
      }
      span {
        display: table-cell;
        float: right;
        margin-left: 10px;
        padding: 5px 10px;
        color: #ffffff;
        background-color: #ba1437;
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}


