@media all and (max-width: 540px) {

  body,html {
    margin: 0 !important;
  }
  .main-container {
    max-width: 400px !important;
    margin: 0 !important;
    padding: 0;
    background: none;
  }
  .header {
    max-width: 400px !important;
    margin: 0 !important;
  }
  .contents {
    max-width: 400px !important;
  }
  .content-wrapper {
    max-width: 360px !important;
    margin: 0 auto !important;
  }
  .heading {
    margin-top: 20px;
  }
  .paragraph {
    max-width: 350px !important;
    height: auto !important;
    overflow: visible;
    //text-align: justify;
    p {
      width: 350px !important;
    }
    a {
      width: 100%;
      top: 83%;
      left: 55% !important;
    }
  }
  .content {
    max-width: 350px !important;
  }
  .right-side-bar {
    display: none;
  }
  .comment-button {
    width: 33% !important;
    height: 49px !important;
    margin: 0 2px 0 0 !important;
  }
  .comment-add-text {
    margin: 0 2px 0 0 !important;
    width: 64% !important;
    height: 49px !important;
    #comment-textarea {
      width: 90% !important;
      height: 49px !important;
      margin: 0 2px 0 0 !important;
    }
  }
  .comment-container {
    max-width: 320px !important;
    .comment-holder {
      p {
        width: 100% !important;
        max-width: 280px !important;
      }
    }
  }

}

